/* Root Variables */
:root {
  --primary-color: #E47912;
  --secondary-color: #396E94;
  --accent1-color: #241466;
  --accent2-color: #E7C24F;
  --nav-background-color: #FFFFFF; 
  --nav-link-color: #000000; 
  --nav-hover-link-color: #396E94; 
  --nav-hover-background-color: #E7C24F;
}

/* Body Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Default font size */
  line-height: 1.5; /* Default line height */
  max-width: 1280px;
  margin: 0 auto; /* Center content */
  padding: 20px;
}

/* Header Styles */
header {
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--secondary-color);
  text-align: left;
}

/* Headline Styles */
h1, .headline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; /* bold */
  font-size: 30px; /* Heading font size */
  margin-top: 0; /* Remove default margin */
  color: var(--nav-background-color);
}

/* Subheading Styles */
h2, .subheading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; /* semi-bold */
  font-size: 25px; /* Subheading font size */
  color: var(--primary-color);
}

/* Title Styles */
h3, .titles {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; /* semi-bold */
  font-size: 20px; /* Title font size */
  color: var(--secondary-color);
}

/* Subtitle Styles */
h4, .subtitles {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; /* semi-bold */
  font-size: 16px; /* Subtitle font size */
  color: var(--nav-background-color);
}

/* Paragraph Styles */
p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Body text font size */
  line-height: 1.5; /* Body text line height */
  color: var(--nav-link-color);
  padding: 10px 0; /* Adjust padding */
}

/* Label Styles */
label {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px; /* Label font size */
  color: var(--nav-link-color);
}

/* Special Callout Styles */
.callout {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Callout font size */
  font-style: italic; /* Callout font style */
  color: var(--secondary-color);
}

/* Navigation Styles */
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}
  
nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}
  
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
  
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}