/* Base styles */
.roboto-thin { font-family: "Roboto", sans-serif; font-weight: 100; }
.roboto-light { font-family: "Roboto", sans-serif; font-weight: 300; }
.roboto-regular { font-family: "Roboto", sans-serif; font-weight: 400; }
.roboto-medium { font-family: "Roboto", sans-serif; font-weight: 500; }
.roboto-bold { font-family: "Roboto", sans-serif; font-weight: 700; }
.roboto-black { font-family: "Roboto", sans-serif; font-weight: 900; }
.roboto-thin-italic { font-family: "Roboto", sans-serif; font-weight: 100; font-style: italic; }
.roboto-light-italic { font-family: "Roboto", sans-serif; font-weight: 300; font-style: italic; }
.roboto-regular-italic { font-family: "Roboto", sans-serif; font-weight: 400; font-style: italic; }
.roboto-medium-italic { font-family: "Roboto", sans-serif; font-weight: 500; font-style: italic; }
.roboto-bold-italic { font-family: "Roboto", sans-serif; font-weight: 700; font-style: italic; }
.roboto-black-italic { font-family: "Roboto", sans-serif; font-weight: 900; font-style: italic; }

:root {
    --main-bg-color: #009B3A;
    --accent-color: #FFCC00;
    --text-color: #FFFFFF;
    --header-bg-color: #002776;
    --font-family: Arial, sans-serif;
    --container-bg-color: #FFFFFF; 
    --container-text-color: #000000; 
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.hero {
    width: 100%;
    height: 50vh; 
    overflow: hidden;
}

.hero picture, .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.content {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data, .weather {
    background-color: var(--container-bg-color); 
    color: var(--container-text-color); 
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: left; 
}

.data ul, .weather ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.data ul li strong,
.weather ul li strong {
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    width: 100%;
    flex-shrink: 0; 
}

h2 {
    color: var(--accent-color);
}

.data h2, .weather h2 {
    color: var(--header-bg-color); 
}

@media (max-width: 767px) {
    body {
        background-color: var(--header-bg-color); 
    }
    .hero {
        height: 80vh; 
    }

    .data, .weather {
        width: calc(100% - 20px); 
        margin: 10px; 
        padding: 15px; 
        text-align: center;
    }

    .data {
        margin-top: 10px; 
    }

    .weather {
        margin-top: 1px; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather-icon::after {
        content: '⛅';
        font-size: 1.5em;
        display: block;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hero {
        height: 75vh; 
    }

    .data, .weather {
        width: 40%;
        position: absolute;
        max-width: 300px;
    }

    .data {
        top: 15%;
        left: 1%;
    }

    .weather {
        top: 63%;
        right: 1%;
    }
}

@media (min-width: 1024px) {
    .hero {
        height: 75vh;
    }

    .data, .weather {
        width: 40%;
        position: absolute;
        max-width: 300px;
    }

    .data {
        top: 15%;
        left: 1%;
    }

    .weather {
        top: 63%;
        right: 1%;
    }

    footer {
        position: static; 
        bottom: 0;
        width: 100%;
    }
}

.weather-icon::after {
    content: '⛅';
    font-size: 1.5em;
}
